@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root:not(.dark) {
		--color-primary: 20, 66, 250; /* yellow.400 complementary #1442FA */
		--color-background: 243, 244, 246; /* gray.100 */
		--color-paper: 209, 213, 239; /* gray.300 */
		--color-body: 18, 18, 18; /* #121212 */
		--color-success: 22, 163, 74; /* green.600 */
		--color-info: 99, 102, 241; /* indigo.500 */
		--color-warn: 251, 191, 36; /* amber.400 */
		--color-error: 220, 38, 38; /* red.600 */
	}

	:root.dark {
		--color-primary: 250, 204, 21; /* yellow.400 */
		--color-background: 18, 18, 18; /* #121212 */
		--color-paper: 39, 39, 42; /* zinc.800 */
		--color-body: 254, 252, 232; /* yellow.50 */
		--color-success: 22, 163, 74; /* green.600 */
		--color-info: 99, 102, 241; /* indigo.500 */
		--color-warn: 251, 191, 36; /* amber.400 */
		--color-error: 220, 38, 38; /* red.600 */
	}

	@font-face {
		font-family: Mokoto;
		font-style: normal;
		font-weight: 400;
		src: url(/src/lib/fonts/Mokoto.otf) format('otf');
		font-display: swap;
	}

	.dark {
		color-scheme: dark;
	}

	:root {
		@apply font-body text-body;
		@apply min-h-full;
		@apply bg-gradient-to-br from-paper/50 via-transparent;
	}

	h1 {
		@apply font-subheading text-2xl uppercase;
		@apply mt-12 mb-4;
		@apply border-b border-body;
		@apply inline-block;
	}

	h2 {
		@apply text-xl font-subheading font-bold uppercase;
		@apply mt-12 mb-4;
		@apply border-l-4 border-l-body pl-4;
		@apply leading-none;
	}

	p {
		@apply leading-6;
		@apply mb-8;
	}

	ul:not(:has(a:only-child)) {
		@apply list-inside list-disc;
		@apply ml-4;
	}

	ol:not(:has(a:only-child)) {
		@apply list-inside list-decimal;
		@apply ml-4;
	}

	li {
		@apply leading-8;
	}

	p a {
		@apply underline;
	}

	div:has(label):has(input, textarea) {
		@apply mb-4;
	}

	label:has(+ input),
	label:has(+ textarea) {
		@apply block;
	}

	input[type='text'] {
		@apply max-w-md w-full;
	}

	textarea {
		@apply w-full resize-none;
	}

	input[type='text'],
	textarea {
		@apply py-2 px-4 rounded border border-body bg-transparent;
	}

	.container {
		@apply mx-auto;
		@apply px-4;
	}
}

svg.bi {
	display: inline;
	vertical-align: middle;
	margin-top: -2px;
}
