@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root:not(.dark) {
		--color-primary: 20, 66, 250; /* yellow.400 complementary #1442FA */
		--color-background: 243, 244, 246; /* gray.100 */
		--color-paper: 209, 213, 239; /* gray.300 */
		--color-body: 0, 0, 0; /* black */
		--color-success: 22, 163, 74; /* green.600 */
		--color-info: 99, 102, 241; /* indigo.500 */
		--color-warn: 251, 191, 36; /* amber.400 */
		--color-error: 220, 38, 38; /* red.600 */
	}

	:root.dark {
		--color-primary: 250, 204, 21; /* yellow.400 */
		--color-background: 0, 0, 0; /* black */
		--color-paper: 39, 39, 42; /* zinc.800 */
		--color-body: 254, 252, 232; /* yellow.50 */
		--color-success: 22, 163, 74; /* green.600 */
		--color-info: 99, 102, 241; /* indigo.500 */
		--color-warn: 251, 191, 36; /* amber.400 */
		--color-error: 220, 38, 38; /* red.600 */
	}

	@font-face {
		font-family: Mokoto;
		src: url(/src/lib/fonts/Mokoto.otf);
	}

	.dark {
		color-scheme: dark;
	}

	:root {
		@apply font-body text-body;
	}

	h1 {
		@apply font-subheading text-2xl uppercase;
		@apply mt-12 mb-4;
		@apply border-b border-body;
		@apply inline-block;
	}

	h2 {
		@apply text-xl font-subheading font-bold uppercase;
		@apply mt-12 mb-4;
		@apply border-l-4 border-l-body pl-4;
		@apply leading-none;
	}

	p {
		@apply leading-10;
	}

	.container {
		@apply max-w-screen-lg mx-auto;
		@apply px-4;
	}

	div:has(label):has(input) {
		@apply mb-4;
	}

	label:has(+ input) {
		@apply block;
	}

	input[type='text'] {
		@apply py-2 px-4 rounded border border-body bg-transparent;
		@apply inline-block w-auto;
	}
}
